html, body {
	background-color: #ccc;
}

p {
	font-size: 17px;
}

.container {
	background-color: #fff;
}

div.movie {
    clear: both;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 5px 0;
	position: relative;
	overflow: hidden;

	background: -moz-linear-gradient(top,  rgba(147,176,201,0.15) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,176,201,0.15)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(147,176,201,0.15) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(147,176,201,0.15) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(147,176,201,0.15) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(147,176,201,0.15) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2693b0c9', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
div.movie div.cover {
    width: 110px;
    height: 160px;
    float: left;
}
div.movie div.cover img {
    width: 100px;
}
div.movie .film p {
	width: 950px;
}
div.movie .film h3 {
    margin-top: 0;
}
div.movie .meta {
	float: right;
	margin: 5px 10px 5px 5px;
	border: 1px dotted #ccc;
	border-radius: 5px;
	padding: 5px;
	background-color: #fff;
	position: absolute;
	bottom: 2px;
	right: -2px;
}
div.movie .meta p {
	margin: 0;
	font-size: 15px;
}
div.movie .place {
	font-size: 300px;
	position: absolute;
	top: -90px;
	right: 0;
	color: rgba(0,0,0,0.1);
}

.votes {
    width: 50px;
    float: left;
}
.votes > span, .votes a > span {
    width: 50px;
    float: left;
    font-size: 20px;
    text-align: center;
}
.votes span.vote {
    cursor: pointer;
}
.votes a {
    color: #595959;
}

.questions.view .question {
    min-height: 150px;
}

.answer {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.comments {
    margin-left: 50px;
}
.comments .comment {
    margin: 10px 0;
    border-top: 1px dotted #ccc;
}
.comments .comment p {
    margin: 3px 0 0 20px;
    font-size: 13px;
}

#loading { display: block; width: 100px; height: 100px; position: fixed; top: 400px; left: 50%; margin-left: -50px; background: #000; border-radius: 5px; line-height: 120px; text-align: center; opacity: 0.75; z-index: 9999; }
#loading img {
    vertical-align: baseline;
}
